<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FairyFishMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2149A3C1D88EFD4006CA0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2149A551D88EFD4006CA0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2149A601D88EFD4006CA0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
